{{ block "index" . }}
<!DOCTYPE htm>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="css/index.css" rel="stylesheet" />
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"
    integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS"
    crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      document.body.addEventListener('htmx:beforeSwap', function (evt) {
        console.log(evt.detail.xhr);
        if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 409) {
          evt.detail.shouldSwap = true;
          evt.detail.isError = false;
        }
      });
    })
  </script>
</head>

<body>
  {{ template "contactForm" . }}
  <hr />
  <div style="display: flex; align-items: baseline;">
    <h1 style="margin-right: 0.5rem;">Contacts ({{ template "contactsCount" .Contacts }})</h1>
    <button type="button" hx-get="/contacts" hx-target="#contacts" hx-swap="outerHTML">Refresh</button>
  </div>
  {{ template "contacts". }}
</body>

</html>
{{ end }}

{{ block "contactsCount" . }}
<span id="contactsCount" hx-swap-oob="innerHTML">{{ len . }}</span>
{{ end }}

{{ block "contactForm" . }}
<form hx-post="/contacts" hx-swap="outerHTML" style="display: flex; flex-direction: column; row-gap: 1rem;">
  <div>
    <label for="name">Name:</label>
    <input {{ if .FormState.Values.name }} value="{{ .FormState.Values.name }}" {{ end }} id="name" name="name"
      placeholder="Name" type="text" autofocus />
    {{ if .FormState.Errors.name }}
    <div style="color: red">{{ .FormState.Errors.name }}</div>
    {{ end }}
  </div>
  <div>
    <label for="email">Email:</label>
    <input {{ if .FormState.Values.email }} value="{{ .FormState.Values.email }}" {{ end }} id="email" name="email"
      placeholder="Email" type="email" />
    {{ if .FormState.Errors.email }}
    <div style="color: red">{{ .FormState.Errors.email }}</div>
    {{ end }}
  </div>
  <button style="width: 5rem;">Save</button>
</form>
{{ end }}

{{ block "contact" . }}
<li class="contact">
  {{ template "deleteButton" . }}
  Name: {{ .Name }}
  Email: {{ .Email }}
  <div id="deleting-{{ .Id }}" class="htmx-indicator" style="display: inline-block;">
    <img src="/images/bars.svg" alt="loading" style="width: 1rem;" />
  </div>
</li>
{{ end }}

{{ block "contacts" . }}
<ul id="contacts">
  {{ range .Contacts }}
  {{ template "contact" . }}
  {{ end }}
</ul>
{{ end }}

{{ block "new-contact" . }}
<ul id="contacts" hx-swap-oob="beforeend">
  {{ template "contact" . }}
</ul>
{{ end }}

{{ block "deleteButton" . }}
<button hx-indicator="#deleting-{{ .Id }}" hx-target="closest li" hx-swap="outerHTML swap:500ms"
  hx-delete="/contacts/{{ .Id }}" type="button"
  style="width: 1rem; height: 1rem; padding: 0; border: none; cursor: pointer; background-color: transparent;">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path fill="none" d="M0 0h24v24H0z" />
    <path
      d="M4 2h16a1 1 0 011 1v1a1 1 0 01-1 1H4a1 1 0 01-1-1V3a1 1 0 011-1zM3 6h18v16a1 1 0 01-1 1H4a1 1 0 01-1-1V6zm3 3v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0z" />
  </svg>
</button>
{{ end }}
