{{ block "index" . }}
<!DOCTYPE htm>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="css/style.css" rel="stylesheet" />
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js"
    integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS"
    crossorigin="anonymous"></script>
</head>

<body>
  {{ template "contactForm" . }}
  <hr />
  {{ template "contacts". }}
</body>

</html>
{{ end }}

{{ block "contactForm" . }}
<form hx-post="/contacts" hx-target="#contacts" style="display: flex; flex-direction: column; row-gap: 1rem;">
  <div>
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" name="email" type="email" />
  </div>
  <button style="width: 5rem;">Save</button>
</form>
{{ end }}

{{ block "contacts" . }}
<div id="contacts">
  <h1>Contacts ({{ len .Contacts }})</h1>
  <ul>
    {{ range .Contacts }}
    <li>
      Name: {{ .Name }}
      Email: {{ .Email }}
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
